<!DOCTYPE html>

<head>
    <title>Hypertension Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hypertension Prediction</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="main">

        <div class="card">

            <div class="heart">❤️</div>

            <h1>Hypertension Prediction System</h1>

            <div class="pulse"></div>

            <form action="/predict" method="post">

                <input type="number" name="systolic" placeholder="Systolic BP" required>

                <input type="number" name="non_systolic" placeholder="Non Systolic BP" required>

                <input type="number" name="anemia" placeholder="Anemia (0/1)" required>

                <input type="number" name="non_anemia" placeholder="Non Anemia (0/1)" required>

                <button type="submit">Predict Stage</button>

            </form>

            <div class="result">

                <p>{{ prediction_text }}</p>
                <p>{{ anemia_text }}</p>
                <p>{{ risk_text }}</p>

            </div>

        </div>

    </div>

</body>

</html>