<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Predictive Pulse - Hypertension AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h2>Predictive Pulse - Hypertension AI</h2>

        <!-- Heart Animation -->
        <div class="heart"></div>
        <div class="gauge">

            <div class="gauge-body">

                <div class="gauge-fill"></div>

                <div class="gauge-cover">BP</div>

            </div>

        </div>

        <!-- Running Pulse Line -->
        <div class="pulse-line">
            <svg viewBox="0 0 200 40">
                <polyline fill="none" stroke="#ff3b3b" stroke-width="3"
                    points="0,20 20,20 30,5 40,35 50,20 70,20 80,10 90,30 100,20 200,20" />
            </svg>
        </div>

        <form action="/predict" method="POST">

            <label>Gender</label>
            <select name="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <label>Age</label>
            <input type="number" name="Age" required>

            <label>Systolic Pressure</label>
            <input type="number" name="Systolic" required>

            <label>Diastolic Pressure</label>
            <input type="number" name="Diastolic" required>


            </label>

            <div class="checkbox-group">

                <label>
                    <input type="checkbox" name="History">
                    Family History
                </label>

                <label>
                    <input type="checkbox" name="BreathShortness">
                    Shortness of Breath
                </label>

            </div>

            <button type="submit">Predict Stage</button>
            <div id="loading" style="display:none;text-align:center;margin-top:20px;">

                AI analyzing patient data...

            </div>

        </form>

        {% if prediction_text %}

        <div class="result">
            <h3>{{ prediction_text }}</h3>
        </div>

        {% endif %}

    </div>

</body>

</html>